.logo {
    margin: 0;
    padding: 0;
    width: 120px;
    height: 100%;
    background-image: url(../../Images/mountains_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 700px) {
    .logo {
        width: 70px;
        height: 100%;
        position: relative;
    }
}



.logo_small {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../../Images/mountains_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 60px;
}

