.goodsZone {
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
        justify-content: center;
    /* border: 2px dotted green; */
}

@media screen and (max-width: 510px) {
    .goodsZone {
        margin-top: 20px;
    }
  }