.button {
    margin: 0 0 0 15px;
    width: 150px;
    height: 70%;
    outline: solid black 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: supack;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
}

.button:hover{
    opacity: 80%;
    cursor: pointer;
    transform: scale(0.95, 0.95);
    transition: all .2s;
    animation: shadow 1.6s infinite linear;
    background-color: tomato;
    color: #fff;

}

@keyframes shadow {
    0% {
      box-shadow: 0 0 10px 0px tomato, 0 0 10px 0px tomato;
    }
    30% {
      box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 50px rgba(255, 48, 26, 0);
    }
    /* 100% {
        box-shadow: 0 0 10px 0px tomato, 0 0 10px 0px tomato;
      } */
  }

.h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

@media screen and (max-width: 800px){
    .button {
        width: 100px;
        height: 60%;
        
    }
    .h4 {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
    
    .text {
        font-size: 10px;
        font-weight: 300;
        line-height: 12px;
    }
    
}

@media screen and (max-width: 550px) {
    .button {
        height: 50%
    }
}
