.page {
    margin-top: 20px;
    width: calc(100% - 225px);
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .page {
        width: calc(95% - 135px);
        margin: 20px auto;
    }
}
@media screen and (max-width: 700px) {
    .page {
        width: 90%;
        margin: 20px auto 0 auto;
        min-height: calc(100vh - 210px);
    }
}
