.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 340px);
}

@media screen and (max-width: 1000px) {
    .main{
        width: calc(100% - 205px);
    }
}
@media screen and (max-width: 700px) {
    .main{
        width: 100%;
    }
}