.card {
    margin: 0;
    padding: 10px;
    /* position: relative; */
    /* background-color: rgb(130, 150, 128); */
    
}

.card__foto {
    margin: 0;
    padding: 0;
    width: 282px;
    height: 282px;
    top: 0;
    display: block;
    object-fit: cover;
    
}
.card__foto:hover{
    cursor: pointer;
}

.card__like_zone{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__discription {
    margin: 10px 15px 0 21px;
    padding: 0 0 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    height: 100px;
    width: 246px;
}

.card__rectangle {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border-color: #000;
    background-color: #fff;
    overflow: hidden;
    background: linear-gradient(to bottom, #0000 5%, #fff, #fff);
    border: 1px black solid;
}

.card__title {
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    align-self: center;
}
.card__text {
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    align-self: center;
}