.card {
    margin: 0;
    padding: 10px;
    width: 280px;
    /* position: relative; */
    /* background-color: rgb(130, 150, 128); */
    
}

.card__foto {
    margin: 0;
    padding: 0;
    width: 282px;
    height: 282px;
    top: 0;
    display: block;
    object-fit: cover;
    
}
.card__foto:hover{
    cursor: pointer;
}

.list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* width: 100%; */
}

/* .card__like_zone{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.card__discription {
    margin: 10px 15px 0 21px;
    padding: 0 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    height: 100px;
    width: 246px;
}

.card__rectangle {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border-color: #000;
    background-color: #fff;
    overflow: hidden;
    background: linear-gradient(to bottom, #0000 5%, #fff, #fff);
    border: 1px black solid;
}

.card__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 100%;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    display: block;
    align-self: center;
}
.card__text {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    align-self: center;
}

@media screen and (max-width: 00px) {
    .card {
        width: 95%;
    }
        .card__foto{
            /* width: 100%; */
    }
}