* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.navbarBrand {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    background: #2E8B57;
    border-bottom: 1px solid hsla(0, 0%, 77.6%, 0.4);
    z-index: 9999;
}

.navbarBrand_scrolled{
    height: 40px;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    display: flex;
    background: #2E8B57;
    border-bottom: 1px solid hsla(0, 0%, 77.6%, 0.4);
    z-index: 9999;
}