* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h2{
    margin: 0;
    padding: 0;

}
.navbarBrand {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120px;
    align-items: center;
    display: flex;
    flex-direction: row;
    background: white;
    /* border-bottom: 1px solid hsla(0, 0%, 77.6%, 0.8); */
    z-index: 9999999;
    position: -webkit-sticky; /* Safari */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: 800;
    justify-content: flex-start;
}

@media screen and (max-width: 700px) {
    .navbarBrand {
        height: 55px;
        margin-bottom: 20px;
    }
}

.buttonSection{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 50%;
}
@media screen and (max-width: 700px) {
    .buttonSection{
        /* flex-direction: column;
        justify-content: flex-end; */
        display: none;
    }
}
.logoSection{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}