.content {
    padding: 20px;
    /* background: #f1f1f1; */
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active_content {
    display: block;
  }

  h2 {
    margin-bottom: 10px;
  }