.content {
    padding: 20px;
    /* background: #f1f1f1; */
    width: calc(100%-200px);
    height: fit-content;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: calc(100%-200px);
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: calc(100%-200px);
    height: 100%;
  }
  .active_content {
    display: block;
    width: calc(100%-200px);
  }

  h2 {
    margin-bottom: 10px;
  }