*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 200px);
  height: fit-content;
  margin: 20px auto 0;
  align-items: center;
  
}

.bloc_tabs {
  display: flex;
  width: 540px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

button {
  border: none;
  
}
.content_tabs {
  /* flex-grow : 1; */
  display: flex;
}

@media screen and (max-width: 900px) {
  .bloc_tabs{
    width: 360px;
  }

@media screen and (max-width: 510px) {
  .bloc_tabs{
    width: 230px;
  }
}
}
