*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 90%;
  height: 300px;
  margin: 100px auto 0;
  word-break: break-all;
  align-items: center;
  
}

.bloc_tabs {
  display: flex;
  width: 900px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

button {
  border: none;
  
}
.content_tabs {
  flex-grow : 1;
}
