.page{
    min-height: calc(100vh - 120px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 1vw;
    align-items: center;
    justify-items: center;
    font-size: 45px;
    width: calc(100% - 350px);
}

@media screen and (max-width: 1000px) {
    .page{
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        width: calc(100% - 205px);
        grid-gap: 1vw;
    }
}
@media screen and (max-width: 700px) {
    .page{
        width: 100%;
    }
}

.h3{
    padding: 10%;
    font-size: 3vh;
    width: 80%;
    min-height: 150px;
    text-align: center;
    border: solid 2px #ede2e2;
    border-radius: 20px;
    color: #ede2e2;
}