.logoSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
}
@media screen and (max-width: 700px) {
    .logoSection {
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .logoSect {
        width: 190px;
    }
}