.button {
    background: none;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #797979;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 10px 10px;
    margin-bottom: 10px;
    overflow-wrap: normal;
    flex-grow: 1;
    text-decoration: none;
    
}
/* .button:last-child {
    margin-bottom: 0px;
    justify-content: flex-start;
    overflow-wrap:normal;
} */



.button:hover {
    cursor: pointer;
    background-color: #2e8b57;
    color: white;
    animation: ani 1s forwards;
}

@keyframes ani {
    0% {
        background: white;
        color: #262f3b;
    }
    100% {
        background-color: #2e8b57;
        color: white;
    }
}

@media screen and (max-width: 1000px) {
    .button {
        font-size: 10px;
        padding: 0 0 5px 10px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 700px) {
    .button {
        height: 40px;
        outline: 1px solid rgb(216, 214, 214);
        box-sizing: border-box;
        justify-content: center;
        margin-bottom: 0px;
        align-items: center;
        padding: 5px;
    }
}
