.logo {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 100%;
    background-image: url(../../Images/rya_sport_tourizm_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 700px) {
    .logo {
        width: 200px;
        height: 100%;
    }
}
