.logo {
    margin: 0;
    padding: 25px;
    width: 100px;
    opacity: 60%;
    background-size: cover;
}

.logo:hover {
    cursor: pointer;
    animation: tilt-n-move-shaking 0.5s infinite;
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
        transform: translate(0, 0) rotate(0eg);
    }
    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.buttonIsDisabled {
    display: none;
}

@media screen and (max-width: 1200px) {
    .logo {
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}
@media screen and (max-width: 700px) {
    .logo {
        width: 25px;
        padding: 0;
        margin-left: 25px;
    }
}
