.leftSideSpacer {
    margin: 0;
    padding: 0;
    height: calc(100vh - 120px);
    width: 50px;
    background-color: #2e8b57;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 120px;
}

@media screen and (max-width: 1000px) {
    .leftSideSpacer {
        width: 35px;
    }
}
@media screen and (max-width: 700px) {
    .leftSideSpacer {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        top: 0;
    }
}

@media screen and (max-width: 800px) {
    .leftSideSpacer {
        top: 100px;
    }
}