
.article {
  width: 100%;
    margin: 0 auto 26px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 125%;
    color: black;
    
    text-align: justify;
    height: fit-content;
    max-height: 100%;
  }
  
  .article:last-of-type {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 768px), screen and (max-device-width: 768px) {
    .article {
      margin: 0 0 25px 0;
      font-size: 16px;
    }
  }