
.article {
    margin: 0 auto 26px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 125%;
    color: black;
    grid-area: paragrah;
    text-align: justify;
  }
  
  .article:last-of-type {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 768px), screen and (max-device-width: 768px) {
    .article {
      margin: 0 16px 25px 16px;
      font-size: 16px;
    }
  }