.modal{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    z-index: 9999999999;
  }
  
  .modal_active{
    pointer-events: all;
    opacity: 1;
  }

  .modalContainer{
    margin: auto;
    width: 80%;
    min-height: 80%;
    position: absolute;
    top: calc(50% - (80% / 2));
    left: calc(50% - (80% / 2));
    background: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    /* overflow:hidden; */
    z-index: 120;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 1rem;
  }

  .closeIcon{
    margin: 0 0 0 0;
    padding: 0;
    height: 24px;
    z-index: 100;
    right: 60px;
    top: 15px;
    position: absolute;
  }
  
  .closeIcon:hover{
    cursor: pointer;
    opacity: 0.8;
  }

  .image{
    width: 100%;
    height: auto;
    border-top-left-radius: 40px;
  }

  .discription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: aliceblue;
  }
  .text {
    padding: 5px;
    color: aliceblue;
  }

  @media screen and (max-width: 800px) {
    .modalContainer{
      margin: auto;
      width: 95%;
      height: 90%;
      position: absolute;
      top: 5%;
      left: 2.5%;
    }
    .closeIcon{
      right: 60px;
      top: 10px;
    }
  }