.contactsTelegramm{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    text-decoration: none;
    color: black;
}
.contactsTelegramm:hover{
    cursor: pointer;
    opacity: 80%;
    background: none;
    color: #2E8B57;
    animation: ani 0.5s forwards;
}
@keyframes ani {
    0% {
        color: black;
    }
    100% {
        color: #2E8B57;
    }
}
.telegrammIcon{
    margin: 0 5px 0 0;
    padding: 0;
    width: 15px;
}

@media screen and (max-width: 800px) {
    .telegrammIcon {
        margin: 0 3px 0 0;
        width: 10px;
    }
}

@media screen and (max-width: 550px) {
    .contactsTelegramm {
        height: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* outline: solid rgb(175, 170, 170) 1px;  */
        padding: 3px;
        border-radius: 5px;
        margin: 5px;
        flex: auto;
    }
}