.contactsTelegramm{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}
.contactsTelegramm:hover{
    cursor: pointer;
    opacity: 80%;
    background: none;
    color: #2E8B57;
}

.telegrammIcon{
    margin: 0 5px 0 0;
    padding: 0;
    width: 15px;
}