.contacts{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    font-size: 15px;
    text-decoration: none;
    flex-grow:1;
    
}
@media screen and (max-width: 1200px) {
    .contacts{
        position: absolute;
        right: 25px;
        text-align: left;
    }
    
}

@media screen and (max-width: 700px){
    .contacts {
        font-size: 8px;

    }
    
}