.footer{
    width: 100%;
    height: 40px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #1c8a4c;
    display: flex;
    align-items: center;
    font-weight: 800;
    justify-content: center;
}