.tabs {
    padding: 15px;
    text-align: center;
    width: 150px;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    box-sizing: content-box;
    /* position: relative; */
    /* outline: none; */
    flex-grow: 0;
    flex-basis: auto;
    transition: background-color 1s;
    border-radius: 30px;
  }

  .tabs:hover{
    cursor: pointer;
    opacity: 80%;
    background-color: rgb(137, 229, 137);

  }
  
  .active_tabs  {
    /* border: 1px solid rgba(0, 0, 0, 0.274); */
    border-radius: 30px;
    background: #2E8B57;
    padding: 15px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    border-bottom: none;
    box-sizing: content-box;
    position: relative;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    align-content:stretch;
    color: aliceblue;
  }
