.tabs {
    padding: 15px;
    text-align: center;
    width: 100px;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    border-left: 1px solid rgba(0, 0, 0, 0.094);
    border-top: 1px solid rgba(0, 0, 0, 0.094);
    box-sizing: content-box;
    position: relative;
    outline: none;
    flex-grow: 0;
  }
  /* .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  } */
  
  .active_tabs  {
    border: 1px solid rgba(0, 0, 0, 0.274);
    background: #f1f1f1;
    background:linear-gradient(-135deg, transparent 15px,#f1f1f1 0);
    padding: 15px;
    text-align: center;
    width: 100px;
    cursor: pointer;
    border-bottom: none;
    box-sizing: content-box;
    position: relative;
    font-size: 25px;
    font-weight: 700;
    outline: none;
    flex-grow: 1;
  }
  
  /* .active_tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    background: rgb(88, 107, 249);
  } */