@import url(./fonts/Andica/Andica.css);

body {
  margin: 0;
  font-family: "Andica", "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
