.fotoAbout{
    margin: 0;
    padding: 0;
    grid-area: fotoNata;
    width: 100%;
    height: 200px;

}

.image{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}