.navBarMenu{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    animation: aniClose 0.5s forwards;
    display: none;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; */
}
.navBarMenu_active{
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color:  #30BA8F;
    animation: ani 0.5s forwards;
    z-index: 9999;
}


@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
