.utp {
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: flex-start;
    font-weight: 800;
    font-size: 36px;
    margin: 0;
    padding: 25px;
    line-height: 45px;
    color: whitesmoke;
    width: 60%;
    border: 2px solid rgba(0, 255, 255, 0.5);
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.3rem #0fa,
        0 0 0.5rem #0fa, 0 0 1rem #0fa, inset 0 0 1.3rem #0fa;
}

@media screen and (max-width: 940px) {
    .utp {
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (max-width: 680px) {
    .utp {
        margin-top: 20px;
        font-size: 24px;
        width: 90%;
        line-height: 28px;
    }
}

@media screen and (max-width: 600px) {
    .utp {
        margin-top: 0px;
    }
}

.capture {
    margin: 0;
    padding: 40px 10% 40px 10%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 680px) {
    .capture {
        display: flex;
        flex-direction: column;
    }
}
