.utp {
    margin: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        40%,
        rgb(255, 255, 255)
    );
    z-index: 9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    
    font-weight: 800;
    font-size: 36px;
    align-self: center;
    justify-self: center;
    color: brown;
}

@media screen and (max-width: 940px) {
    .h1 {
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (max-width: 680px) {
    .h1 {
        font-size: 34px;
        width: 100%;
        line-height: 28px;
    }
}

.h1:first-child{
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .utp {
        margin-top: 0px;
    }
}

.capture {
    margin: 0;
    padding: 0;
    height: 200px;
    background-image: url(../../../../Images/mountainsInClouds.jpg);
    background-size: cover;
    z-index: 1;
}
/* @media screen and (max-width: 680px) {
    .capture {
        display: flex;
        flex-direction: column;
    }
} */
