.utp {
    margin: 0;
    padding: 20px 0 0 0;
    align-self: center;
    justify-self: flex-start;
    margin: 0;
    padding: 0;
    line-height: 45px;
    color: black;
    width: 100%;
    text-align: center;
    background-image: url(../../../../Images/mountainsInClouds.jpg);
    background-size: cover;
    min-height: 300px;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), 40%, rgb(255, 255, 255)); */
}

h1{
    font-weight: 800;
    font-size: 36px;
}

@media screen and (max-width: 940px) {
    .h1 {
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (max-width: 680px) {
    .h1 {
        font-size: 44px;
        width: 100%;
        line-height: 28px;
    }
}

@media screen and (max-width: 600px) {
    .utp {
        margin-top: 0px;
    }
}

.capture {
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: alicebluec;
}
@media screen and (max-width: 680px) {
    .capture {
        display: flex;
        flex-direction: column;
    }
}
