.leftSideNavbar {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 120px;
    left: 0;
}

@media screen and (max-width: 1000px) {
    .leftSideNavbar {
        width: 170px;
        height: fit-content;
    }
}
@media screen and (max-width: 800px) {
    .leftSideNavbar {
        top: 100px;
    }
}
@media screen and (max-width: 700px) {
    .leftSideNavbar {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 999;
        /* padding-top: 20px; */
        margin-top: 20px;
    }
}
