.leftSideNavbar {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 120px;
    left: 0;
}



.leftSideNavbarSmall {
    margin: 0;
    padding: 0;
    height: calc(100vh - 120px);
    width: 50px;
    background-color: #2e8b57;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 120px;
}

@media screen and (max-width: 1000px) {
    .leftSideNavbar {
        width: 170px;
        height: fit-content;
    }
    .leftSideNavbarSmall {
        width: 35px;
    }
}
@media screen and (max-width: 700px) {
    .leftSideNavbar {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        top: 110px;
        z-index: 999;
        /* padding-top: 20px; */
        margin-top: 20px;
        
    }
    .leftSideNavbarSmall {
        width: 100%;
        position: relative;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        top: 0;
    }
}